h1.new-section {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.aboutSection {
    color: #dbdbdb;
    text-align: left;
    padding-left: 30px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h4.important {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 50px;
}

.rutgers-kun-section {
    padding-left: 6rem;
    padding-right: 6rem;
}

.social-links {
    color: white;
    font-weight: bold;
}

.social-links p{
    padding-top: 1.5rem;
}

.horizontal-group {
    margin-left:50px;
    margin-right:50px;
}