.jumbotron {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    max-height: 30rem;
    width: 100%;
    overflow: hidden;
    margin-top: 91px;
}

.jumbotron video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.60;
    z-index: 1;
}

.home_hero {
    margin: 0;
    padding-left: 50px;
    width: 50%;
}

.heading {
    color: white;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 17px;
}

.slogan {
    color: #C94949;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
}

.description {
    color: #979797;
    font-weight: 700;
}

.vertical-center {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 991.98px) {
    .home_hero {
        width: 400px;
        padding: 0;
        margin: auto;
        text-align: center;
    }
}

/* @media (pointer: coarse) and (hover: none) {
  .hero {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .hero video {
    display: none;
  }
} */