/*
################################
        Navigation Bar
################################
*/

.navbar {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #1D1D1D;
}

.navbar-brand {
    margin-right: 25px;
}

.navbar-nav {
    padding-right: 50px;
}

.nav-item {
    color: white;
    font-size: 11.5px;
    font-weight: bold;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* height: 100%; */
    border-bottom: 3px solid transparent;
    margin-right: 17px;
    padding-top: 11px;
}

.nav-link:hover {
    color: #fff;
    border-bottom: 3px solid #C94949;
    transition: all 0.2s ease-out;
}

.dropdown-menu {
    background-color: #1D1D1D;
    padding: 0;
    border: none;
    border-radius: 0;
}

.dropdown-item {
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 992px) {
    .dropdown-menu {
        display:block;
        opacity: 0;
        visibility: hidden;
        transition:.2s;
    }

    .dropdown-menu.fade-down {
        top:80%;
        transform-origin: 0% 0%;
    }

    .nav-item:hover .dropdown-menu {
        transition: .2s;
        opacity:1;
        visibility:visible;
        top:100%;
    }
}

@media (max-width: 991.98px) {
    .navbar-nav {
        padding-right: 0;
    }

    .nav-item {
    margin-top: 9px;
    margin-bottom: 5px;
    }

    .nav-link {
        margin-right: 0;
        border-bottom: none;
    }

    .nav-link:hover {
        color: #fff;
        border-bottom: none;
        background-color: #c9494970;
        transition: all 0.2s ease-out;
    }

    .navbar-collapse{
        text-align:center;
    }
    
    .search-box {
        margin-top: 9px;
        margin-bottom: 15px;
    }
}

.input-group {
    width: auto;
}

.navbar-toggler {
    color: white;
    font-size: 25px;
}

.navbar-toggler:hover {
    color: #C94949;
    transition: all 0.2s ease-out;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: 0 none;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.75);
}

.search-box .form-control {
    width: 100px;
    color: #979797;
    background-color: #343434;
    border-color:#343434;
    font-weight: bold;
}

.search-box .form-control:focus {
    outline: 0 none;
    box-shadow: 0 0 0 0.2rem rgba(84, 91, 98, 0.75);
}

.search-box .btn-secondary {
    color: #979797;
    background-color: #343434;
    border-color: #343434;
}

.form-control::placeholder {
    color:#979797;
}