.socialsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.socContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  transition: 1s;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
}

.socContainer:hover {
  cursor: pointer;
  color: white;
}

.facebookContainer {
  color: rgb(66, 103, 178);
  border-color: rgb(66, 103, 178);
}

.facebookContainer:hover {
  background-color: rgb(66, 103, 178);
}

.twitterContainer {
  color: rgb(29, 161, 242);
  border-color: rgb(29, 161, 242);
}

.twitterContainer:hover {
  background-color: rgb(29, 161, 242);
}
.twitchContainer {
  color: rgb(145, 71, 255);
  border-color: rgb(145, 71, 255);
}

.twitchContainer:hover {
  background-color: rgb(145, 71, 255);
}
.discordContainer {
  color: rgb(114, 137, 217);
  border-color: rgb(114, 137, 217);
}

.discordContainer:hover {
  background-color: rgb(114, 137, 217);
}
.linkedinContainer {
  color: rgb(10, 102, 194);
  border-color: rgb(10, 102, 194);
}

.linkedinContainer:hover {
  background-color: rgb(10, 102, 194);
}
.youtubeContainer {
  color: rgb(254, 0, 0);
  border-color: rgb(254, 0, 0);
}

.youtubeContainer:hover {
  background-color: rgb(254, 0, 0);
}

.mailchimpContainer {
  color: rgb(255, 224, 27);
  border-color: rgb(255, 224, 27);
}

.mailchimpContainer:hover {
  background-color: rgb(255, 224, 27);
}

.instagramContainer {
  color: #d6249f;
  border-color: #d6249f;
}

.instagramContainer:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

@media screen and (max-width: 580px) {
  .socContainer {
    width: 2rem;
    height: 2rem;
    padding-top: 0.1rem;
    font-size: 1rem;
  }
}
